# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
bin/
obj/

# builds
dist/
dist-electron/
release/

*.orig.*
*.key

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# IFC version control server local data
.ifc-vcs-data/
server/.ifc-vcs-data/

# typescript
*.tsbuildinfo

20250820_openSIM_BIM_Objektkatalog-BWD-V001_MKP_a_V.xlsx
